
/* Set background color */
body {
  background-color: rgb(220, 222, 180);
}

/* Main container */
.container {
    max-width: 1140px;
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Navigation bar */
.top-nav {
    background-color: black;
    color: black;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}

.top-nav > a {
    float: left;
    display: block;
    color: #FFFFF0;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2rem;
}

.top-nav a:hover {
    background-color: #FFFFF0;
    color: #fc0808;
}

.top-nav .active {
    background-color: #FFFFF0;
    color: black;
}

/* Image */
.piano-image img {
    width: 100%;
    height: auto;
    margin: 1rem auto;
}

/* Information text area */
.main-info {
    float: left;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    width: 100%;
}

.main-info h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 2.5rem;
}

.main-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  float: left;
  width: 100%;
}

/* Footer */
.piano-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #645d58;
    color: #FFFFF0;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}
  
.piano-footer a {
    color: #FFFFF0;
    text-decoration: none;
}
  
.piano-footer a:hover {
    text-decoration: underline;
}

.grid-column {
    background-color: #90806d;
    border: 1px solid black;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

/* Form section */
.form-section {
    font-size: 70%;
    background-color: #787878;
    color: #FFFFF0;
    text-align: center;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .piano-footer {
      grid-template-columns: auto;
      background-color: #75563E;
      padding: 10px 0;
      width: 100%;
  }
}
  
@media only screen and (max-width: 450px) {
      .top-nav > a {
        padding: 14px 10px;
        font-size: 1.5rem;
  }
}